a{
  text-decoration: none;
  color: grey;
  margin-right: 10px;
}
.home-img{
  position: relative;
}
.text{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  transform: translate(10%, -600%);
  color: white;
}